# Base API URL (Defaults to /api if left empty on Vercel)
VITE_API_URL=/api

# Optional EmailJS Config
VITE_EMAILJS_SERVICE_ID=service_t8i2irb
VITE_EMAILJS_TEMPLATE_ID=template_oxg03rp
VITE_EMAILJS_PUBLIC_KEY=wnkgezVAD2gezpEr2
